services:
  web-api:
    container_name: receipt-print-app
    image: ghcr.io/tobhung/receipttest:latest
    user: "root"
    privileged: true # 加上這個，給予容器存取硬體與系統通訊的權限
    devices:
      - /dev/usb/lp0:/dev/usb/lp0
    volumes:
      - /var/run/cups/cups.sock:/var/run/cups/cups.sock
      - /var/run/dbus:/var/run/dbus
    # -----------------------------
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower # 建議加上名字，方便你下 logs 指令
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/run/cups/cups.sock
      - /home/admin/.docker/config.json:/config.json
    command: --interval 300 --cleanup --label-enable