services:
  cups:
    image: anujdatar/cups
    container_name: cups
    privileged: true
    ports:
      - "631:631"
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - /var/run/dbus:/var/run/dbus
      # 關鍵：將容器內的 CUPS Socket 掛載到主機的一個位置，好讓 web-api 可以用
      - /var/run/cups:/var/run/cups 
    devices:
      - /dev/usb/lp0:/dev/usb/lp0
    restart: always

  web-api:
    container_name: receipt-print-app
    image: ghcr.io/tobhung/receipttest:latest
    user: "root"
    privileged: true
    environment:
      - CUPS_SERVER=cups 
    volumes:
      - /var/run/cups:/var/run/cups
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    depends_on:
      - cups

  watchtower:
    # 修正：改用 1.5.3 版本避免 "client version 1.25 is too old" 錯誤
    image: containrrr/watchtower:1.5.3
    container_name: watchtower 
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/admin/.docker/config.json:/config.json
    command: --interval 300 --cleanup --label-enable